pandas==2.2.2
scikit-learn==1.5.1
matplotlib==3.9.2
seaborn==0.13.2
jupyterlab==4.2.4
xgboost==2.1.1
langchain==0.2.13
langchain-community==0.2.12
langchain-google-genai==1.0.8
streamlit==1.37.1
chardet==5.2.0
SQLAlchemy==2.0.32